In [1]:
# Removing_whitespaces_from_strings.

In [7]:
name1 = "yusuf"
print(name)

  yusuf

In [6]:
name2 = "  yusuf"
print(name)

  yusuf

In [5]:
name3 = "yusuf  "
print(name3)

yusuf

In [10]:
name2.lstrip() # left_stripping.

'yusuf'

In [11]:
name3.rstrip() # right_stripping.

'yusuf'

x = "   yusuf   "
print(x)

In [13]:
x = "   yusuf   "
print(x)

   yusuf

In [18]:
x.strip() # strip ----

'yusuf'

In [19]:
# Introduction_to_list_datatype:

In [21]:
# definition: A_list_is_an_collection_of_items_in_a_particular_order
# classification: It_is_classified_as_an_mutable_datatype.
# How_to_define_the_list -----? ====== []

In [22]:
student = ['yusuf','saquib','jitu','rajgopal','trisanku']

print(student)

['yusuf', 'saquib', 'jitu', 'rajgopal', 'trisanku']

In [23]:
type(student)

list

In [24]:
# How_to_access_the_element_in_above_list....?

In [27]:
# introduction_to_indexing

# indexing will be starts from 0,1,2,3,4.........

In [28]:
#  req: I_want_access_jitu_name_in_the_output_...what_is_the_index_num_of_jitu..?

In [29]:
print(student[2])

jitu

In [30]:
print(student.title(2))

AttributeError: 'list' object has no attribute 'title'

In [31]:
print(student.title[2])

AttributeError: 'list' object has no attribute 'title'

In [32]:
print(student[2].title)

<built-in method title of str object at 0x000001F1465D8430>

In [33]:
print(student[2])

jitu

In [34]:
print(student[2].title())

Jitu

In [35]:
print(student[2].upper())

JITU

In [36]:
print(student[2].lower())

jitu

In [38]:
1. How_to_add_to_new_elements_to_the_list.
2. How_to_modify_the_new_elements_in_the_list.
3. How_to_delete_the_elements_in_the_list.

In [40]:
1. How_to_add_new_elements_to_the_list.

# req: I_want_to_add_ahmad_to_the_students_list...?

In [41]:
student.append(ahmad)

NameError: name 'ahmad' is not defined

In [43]:
student.append('ahmad')
print(student)

['yusuf', 'saquib', 'jitu', 'rajgopal', 'trisanku', 'ahmad', 'ahmad']

In [44]:
#  Karim

In [45]:
student.append('Karim')

In [46]:
print(student)

['yusuf', 'saquib', 'jitu', 'rajgopal', 'trisanku', 'ahmad', 'ahmad', 'Karim']

In [47]:
# req: I_want_to_add_Sharique_bhaijan_name at_the_2nd_index_position....?

In [49]:
student.insert(2,'sharique_bhaijan')

print(student)

['yusuf', 'saquib', 'sharique_bhaijan', 'shariquebhaijan', 'jitu', 'rajgopal', 'trisanku', 'ahmad', 'ahmad', 'Karim']

In [50]:
print(student[3])

shariquebhaijan

In [51]:
# interview_question: what_is_the_difference_between_append_and_insert_method_in_the_list....?

In [53]:
# How_to_modify_the_elements_in_the_lists

In [54]:
print(student)

['yusuf', 'saquib', 'sharique_bhaijan', 'shariquebhaijan', 'jitu', 'rajgopal', 'trisanku', 'ahmad', 'ahmad', 'Karim']

In [56]:
# req: modify_shariquebhaijan_to_asad.

In [60]:
student[3] = 'asad' # reassignment

In [61]:
print(student)

['yusuf', 'saquib', 'sharique_bhaijan', 'asad', 'jitu', 'rajgopal', 'trisanku', 'ahmad', 'ahmad', 'Karim']

In [66]:
#  How_to_delete_the_element_in_the_list.

In [67]:
del student[2]
print(student)

['yusuf', 'saquib', 'rajgopal', 'trisanku', 'ahmad', 'ahmad', 'Karim']